---
const pageTitle = "关于我";
---

<html lang="en">
	<head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
   </head>
	<body>
        <a href="/">首页</a>
        <a href="/blog/">博客</a>
        <a href="/about/">关于</a>
		<h1>{pageTitle}</h1>
        <h3>类似我了终于到写代码了，虽然写代码也不容易就是了...</h3>
        <h2>有一种我不管在这里写下什么东西，未来都会变成黑历史的预感，但是无所谓了我黑历史还少吗（）</h2>
        <p>总之现在的情况就是这样：一个对自己现在手上在做的事情多少有点迷茫的纯小白正在尝试学会使用astro，用来完成cs50的结项作业</p>
        <p>怎么样都好啦，如果真的能做出什么东西来的话倒是无所谓，就是感觉自己在这里花的时间以后并不能写到简历上，所以总是感觉有点焦急，我希望自己能学的快一点，多一点，能尽快把它们变现就好了</p>
        <p>超级功利的想法，但是没有任何办法，在我身上学术精神也好热爱也好，如果不能快速转化为立身之本的话，这辈子就要去啃老了吧，所以功利也无所谓，任何美好的理想等我有资本了再说</p>
        <p>扯远了，这一页就写这么多吧</p>
	</body>
</html>
